### Handling Imbalanced Dataset 
##### 1) Up Sampling 
##### 2) Down Sampling

In [43]:
import pandas as pd
import numpy as np  
from sklearn.utils import resample

In [44]:
np.random.seed(123)

n_samples=1000
class_0_ratio=0.9 
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [45]:
n_class_0,n_class_1

(900, 100)

In [46]:
### Create my DataFrame With Imbalanced Dataset 
class_0=pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
        'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
        'target':[0]*n_class_0})


class_1=pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
        'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
        'target':[1]*n_class_1})

In [47]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [48]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [49]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [50]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

#### Upsampling : we want to increase the 100

In [51]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [52]:
df_minority_upsample=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42) ### Replace with True = By replacment

In [53]:
df_minority_upsample.shape

(900, 3)

In [54]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [55]:
df_upsample=pd.concat([df_majority,df_minority_upsample])

In [56]:
df_upsample['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

#### Down Sampling

In [57]:
class_0=pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
        'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
        'target':[0]*n_class_0})


class_1=pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
        'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
        'target':[1]*n_class_1})


df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [58]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [59]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [60]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

#### i want to reduce the 900

In [61]:
df_majority_downsample=resample(df_majority,replace=False,n_samples=len(df_minority),random_state=42)

In [62]:
df_majority_downsample.shape

(100, 3)

In [63]:
df_downsampling=pd.concat([df_minority,df_majority_downsample])

In [64]:
df_downsampling.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64

### Downsampling we lose alot of our information : so its bad